@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    font-family: 'Open Sans', sans-serif;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;

    table {
        margin: 0 auto;
    }
}

.text-align-right {
    text-align: right;
}
