.list-all-fighters {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,ffffff+98 */
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f9f9 0%, #ffffff 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#ffffff 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f9f9f9 0%,#ffffff 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    padding-top: 50px;
    padding-bottom: 50px;
}
